body {
	margin: 0px;
	background-color: black;
}

#main {
	width: 100%;
	height: 1080px;
}

#game {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 30px;
	background-color: #DDD;
}

td {
	text-align: center;
	vertical-align: middle;
}

.cell {
	width: 200px;
	height: 200px;
	background-color: #EEE;
	font: 80pt Helvetica; 
	font-weight: bold;
}

.selected {
	background-color: #FFC0CB;
}

.won {
	background-color: #90ee90;
}
